.footer {
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer span {
  color: var(--color-blue);
  font-weight: bold;
}

.footer::after {
  content: "";
  position: absolute;
  background-color: black;
}
